<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세페이지</title>
<script th:src="@{/public/js/board/detail.js}" defer></script>

</head>
<body>
<header th:insert="/headerNav"></header>
	<!-- <p th:text="${board}"></p> -->
	<main class="container">
		<h1 class ="m-3" >
			게시판
		</h1>
		<p>
			아이디 : <strong th:text="${board.users.userid}"></strong>
		</p>
		<p>
			이름 : <strong th:text="${board.users.username}"></strong>
		</p>
		<p>
			이메일 : <strong th:text="${board.users.email}"></strong>
		</p>
		<div class="mb-3 d-flex flex-row-reverse">
			<div>
				<th:block th:if="${boardPrefer == null}">
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!" 
					th:href="@{/board/prefer/insert/{no}/{prefer}(no=${board.board_no},prefer=${true})}"
					class="btn btn-outline-primary">
						<i class="bi bi-hand-thumbs-up"></i>	
						Good : <span th:text="${board.good}"></span>
					</a> /
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					 th:href="@{/board/prefer/insert/{no}/{prefer}(no=${board.board_no},prefer=${false})}" 
					 class="btn btn-outline-danger">
						<i class="bi bi-hand-thumbs-down"></i>	
						bad : <span th:text="${board.bad}"></span>
					</a> /
				</th:block>
				<!--boardPrefer != null 로그인 한 사람이 좋아요 싫어요를 한번이라도 한 글  -->
				<!--  boardPrefer?.prefer==true : 좋아요를 누른 사람 (좋아요: 삭제, 싫어요 : 수정)-->
				<th:block th:if="${boardPrefer?.prefer == true}">
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!" 
					th:href="@{/board/prefer/delete/{no}/{preferNo}(no=${board.board_no},preferNo=${boardPrefer.board_prefer_no})}"
					class="btn btn-outline-primary">
						<i class="bi bi-hand-thumbs-up-fill"></i>	
						Good : <span th:text="${board.good}"></span>
					</a> /
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					 th:href="@{/board/prefer/update/{no}/{preferNo}/{prefer}(no=${board.board_no},preferNo=${boardPrefer.board_prefer_no},prefer=${false})}" 
					 class="btn btn-outline-danger">
						<i class="bi bi-hand-thumbs-down"></i>	
						bad : <span th:text="${board.bad}"></span>
					</a> /
				</th:block>
				<!--  boardPrefer?.prefer==true : 싫어요를 누른 사람 (좋아요: 삭제, 싫어요 : 수정)-->
				<th:block th:if="${boardPrefer?.prefer == false}">
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!" 
					 th:href="@{/board/prefer/update/{no}/{preferNo}/{prefer}(no=${board.board_no},preferNo=${boardPrefer.board_prefer_no},prefer=${true})}"
					 class="btn btn-outline-primary" >
						<i class="bi bi-hand-thumbs-up"></i>	
						Good : <span th:text="${board.good}"></span>
					</a> /
					<a
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					th:href="@{/board/prefer/delete/{no}/{preferNo}(no=${board.board_no},preferNo=${boardPrefer.board_prefer_no})}" 
					class="btn btn-outline-danger">
						<i class="bi bi-hand-thumbs-down-fill"></i>	
						bad : <span th:text="${board.bad}"></span>
					</a> /
				</th:block>
				<i class="bi bi-eye"
				data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
				views : <span th:text="${board.views}"></span>
				</i>
			</div>
		</div>
							
		<hr>
		<h3>
		  	<span>
				<small th:text="${board.board_no}"></small>.
				<b th:text="${board.title}"></b>
		  	</span>
		</h3>
		
		<div class = "mt-5">
			<th:block th:each="boardImg : ${board.boardImgs}">
				<img th:src="@{/public/img/{fileName}(fileName=${boardImg.img_path})}" style="height:150px; width:150px; object-fit:cover;"
				 class="img-thumbnail" alt="게시글 이미지">
			</th:block>
		</div>
		
		<div class="form-floating">
			<textarea class="form-control mt-5" placeholder="Leave a comment here"
			style="height: 150px; resize: none;" th:text="${board.contents}" readonly="readonly" ></textarea>
		</div>
		<div>
			<ul class="list-group collapse show" id="replyCollapse">
				<li class="list-group-item text-bg-light border-success" 
				th:if="${session.loginUsers!=null}">
<!--///////////////////////////////////// 리플 등록 폼 ///////////////////////////////////////////////////////////////// -->				
					<form action="/reply/insert.do" method="post" enctype="multipart/form-data">
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">글쓴이</span>
							<input name="users.userid" th:value="${session.loginUsers?.userid}" 
								type="text" class="form-control">
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">제목</span>
							<input name="title"type="text" class="form-control">
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">사진</span>
							<input name="imgFile"type="file" class="form-control">
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">내용</span>
							<textarea name="contents" class="form-control"></textarea>
						</p>
						<p class="mb-1">
							<button type="reset" class="btn btn-sm btn-outline-warning">초기화</button>
							<button type="submit" class="btn btn-sm btn-outline-primary">제출</button>
							<input type="hidden" name="board_no" th:value="${board.board_no}">
						</p>
					</form>
				</li>
				<hr>
				<h3>댓글 리스트:</h3>	
				<th:block th:each="reply : ${board.replys}">
						
					<div class="ms-2 me-auto">
						
						      <hr><div>등록일 : <span th:text="${#dates.format(reply.post_time,'yyyy-MM-dd HH:mm:ss')}"></span></div>
						      <div class="fw-bold">
						      	<span th:text="${reply.reply_no}"></span>.
						      	<span th:text="${reply.title}"></span>
						      </div>
						      <div th:if="${reply.img_path!=null}">
						      	<img alt="댓글 이미지" class="img-thumbnail"  style="height:50px; width:100%; object-fit: cover;"
						      	th:src="@{/public/img/{file}(file=${reply.img_path})}">
						      </div>
						      <div th:text="${reply.contents}"></div>	
						    </div>
				</th:block>
			</ul>
		</div>
	</main>
	
</body>
</html>