<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세페이지</title>
<style>
	html, body {
		height: 100%;
		display: flex;
		flex-flow: column;
	}
	footer {
		flex: 1;
		height: auto;
	}
</style>
<script th:src="@{/public/js/board/detail.js}" defer></script>
</head>
<body>
<header th:insert="/gAndB"></header>
<header th:insert="/headerNav"></header>
	<!-- <p th:text="${board}"></p> -->
	<main class="container">
		<h1 class ="m-3" >
			게시판
		</h1>
		<p>
			아이디 : <strong th:text="${board.users.userid}"></strong>
		</p>
		<p>
			이름 : <strong th:text="${board.users.username}"></strong>
		</p>
		<p>
			이메일 : <strong th:text="${board.users.email}"></strong>
		</p>
		<div class="mb-3 d-flex flex-row-reverse">
			<div th:if="${session.loginUsers!=null}">
					<a 
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!"
					th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no},prefer=${true})}" 
					class="btn btn-outline-primary rounded-pill">
						<i th:classappend="${(board.prefer_active!=null&&board.prefer_active)?'bi-hand-thumbs-up-fill':'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a>
					<a 
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no},prefer=${false})}"  
					class="btn btn-outline-danger rounded-pill">
						<i th:classappend="${(board.prefer_active!=null&&!board.prefer_active)?'bi-hand-thumbs-down-fill':'bi-hand-thumbs-down'}" class="bi "></i>				
						 <span th:text="${board.bad}"></span>
					</a> /
				<i class="bi bi-eye"
				data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
				views : <span th:text="${board.views}"></span>
				</i>
			</div>
			<div th:unless="${session.loginUsers!=null}">
					<a 
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!"
					th:href="@{/users/login.do}" 
					class="btn btn-outline-primary rounded-pill">
						<i th:classappend="${(board.prefer_active!=null&&board.prefer_active)?'bi-hand-thumbs-up-fill':'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a>
					<a 
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					th:href="@{/users/login.do}"  
					class="btn btn-outline-danger rounded-pill">
						<i th:classappend="${(board.prefer_active!=null&&!board.prefer_active)?'bi-hand-thumbs-down-fill':'bi-hand-thumbs-down'}" class="bi "></i>				
						 <span th:text="${board.bad}"></span>
					</a> /
				<i class="bi bi-eye"
				data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
				views : <span th:text="${board.views}"></span>
				</i>
			</div>
		</div>
							
		<hr>
		<h3 class = "mt-5">
		  	<span>
				<small th:text="${board.board_no}"></small>.
				<b th:text="${board.title}"></b>
		  	</span>
		</h3>
		
		<div class = "mt-5">
			<th:block th:each="boardImg : ${board.boardImgs}">
				<img th:src="@{/public/img/{fileName}(fileName=${boardImg.img_path})}" style="height:150px; width:150px; object-fit:cover;"
				 class="img-thumbnail" alt="게시글 이미지">
			</th:block>
			
		</div>
		
		<div class="form-floating">
			<textarea class="form-control mt-5" placeholder="Leave a comment here"
			style="height: 150px; resize: none;" th:text="${board.contents}" readonly="readonly" ></textarea>
		</div>
		<hr>
		<th:block th:if="${session.loginUsers?.userid==board.users.userid}">
			<div th:if="${session.loginUsers?.userid==board.users.userid}">
				<a th:href="@{/board/update/{no}(no=${board.board_no})}" class="btn btn-success">
					수정
				</a>
				<a th:href="@{/board/delete/{boardNo}/{userId}(boardNo=${board.board_no},userId=${board.users.userid})}" class="btn btn-danger">
					삭제
				</a>
			</div>
		</th:block>
		
		<div class="container">
			
			<ul class="list-group collapse show" id="replyCollapse">
				<li class="list-group-item text-bg-light border-success" 
				th:if="${session.loginUsers!=null}">
				
<!--///////////////////////////////////// 리플 등록 폼 ///////////////////////////////////////////////////////////////// -->				
					<form action="/reply/insert.do" method="post" enctype="multipart/form-data">
					<h3 class="mt-3 d-flex justify-content-between">
						<span>댓글 작성</span>
  					</h3>	
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">글쓴이</span>
							<input name="users.userid" th:value="${session.loginUsers?.userid}" 
								type="text" class="form-control">
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">제목</span>
							<input name="title"type="text" class="form-control"
							onkeyup="noSpace(this);" onchange="noSpace(this);" >
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">사진</span>
							<input name="imgFile"type="file" class="form-control">
						</p>
						<p class="input-group input-group-sm mb-1">
							<span class="input-group-text">내용</span>
							<textarea name="contents" class="form-control"
							onkeyup="noSpace(this);" onchange="noSpace(this);" ></textarea>
						</p>
						<p class="mb-1">
							<button type="reset" class="btn btn-sm btn-outline-warning">초기화</button>
							<button type="submit" class="btn btn-sm btn-outline-primary">제출</button>
							<input type="hidden" name="board_no" th:value="${board.board_no}">
						</p>
						
					</form>
				</li>
				<hr>
				<div>
					<h3>
						<span>댓글 리스트 : <small th:text="${board.replys_size}"></small></span>
						<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyList">
    						상세
  						</button>
  					</h3>
  					<ul class="list-group collapse show" id="replyCollapse">
  						<div th:insert="/board/replyList" th:with="replys=${board.replys}" id="replyList">
						</div>
					</ul>
				
				</div>
				
			</ul>
		</div>
	</main>
</body>
<footer  class="footer" th:insert="/footer"></footer>
<script type="text/javascript">
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
function noSpace(obj) { // 공백사용못하게
    var str = /\s/;  // 공백체크
    if(str.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 첫 글자 공백을 사용할수 없습니다.");
        obj.focus();
        obj.value = obj.value.replace(/^ +/,''); // 공백제거
        return false;
    }
}
</script>
</html>