<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>검색결과</title>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	<div id="wrapper">
		<div  class="container">
			<h1 class="m-3 d-flex justify-content-between align-items-center" >
				<span>검색 결과</span>
			</h1>
			<p>
				<span style="font-style: italic; font-weight: bold;" th:text=${param.keyword}></span> 검색 결과 수 : 
				<span class="badge text-bg-primary" th:text="${count}"></span>
			</p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>No.</th>
						<th>문의유형</th>
						<th>문의제목</th>
						<th>작성자</th>
						<th>등록일</th>
						<th>답변여부</th>
					</tr>
				</thead>
				<tbody>
					<tr id="detail" th:each="q : ${list}" th:onclick="location.href='/qaboard/detail/[[${q.qaBoardNo}]]'">
						<td th:text="${q.qaBoardNo}"></td>
						<td th:text="${q.qaBoardKind}"></td>
						<td th:text="${q.qaBoardTitle}"></td>
						<td th:text="${q.users?.userid}"></td>
						<td th:text="${#dates.format(q.qaBoardDate,'yyyy-MM-dd')}"></td>
						<th:block th:if=${q.qaBoardAnswer==0}>
						<td>미답변</td>
						</th:block>
						<th:block th:if=${q.qaBoardAnswer==1}>
						<td>답변 완료</td>
						</th:block>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-evenly">
				<th:block th:unless="${list==null}">
					<div  th:insert="/pagination.html"></div>
				</th:block>
				<form action="/qaboard/search/1" id="searchForm" method="get">
					<select name="type" class="form-control" style="display: inline; width : 150px;">
						<option value="T">문의유형</option>
						<option value="C">문의제목</option>
					</select>
					<div class=search_input style="display: inline;">
						<input type="text" name="keyword" onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this);">
						<button class="btn btn-outline-primary">검색</button>
					</div>
				</form>
			</div>
		</div>
		<footer th:insert="/footer"></footer>
	</div>
</body>
<script>
function noSpaceForm(obj) { // 공백사용못하게
    var str_space = /\s/;  // 공백체크
    if(str_space.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 공백을 사용할수 없습니다.\n\n공백은 자동적으로 제거 됩니다.");
        obj.focus();
        obj.value = obj.value.replace(/\s| /gi,''); // 공백제거
        return false;
    }
}
</script>
</html>