<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:replace="admin/header::head-fragment"></header>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- header-fragment -->
            <div th:replace="admin/header::header-nav"></div>
            <!-- sidebar-fragment -->
            <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
            <!-- Content Wrapper. Contains icon content -->
            <div class="content-wrapper">
                <!-- Content Header (icon header) -->
                <div class="content-header">
                    <!-- container-fluid -->
                    <div class="container-fluid"></div>
                    <!-- /.container-fluid -->
                </div>
                <!-- Main content -->
                <div class="content">
                    <!-- container-fluid -->
                    <div class="container-fluid">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">주문 관리</h3>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-body">
                                <div class="grid-btn">
                                    <button class="btn btn-info" onclick="orderEdit()"><i class="fa-solid fa-pen-to-square"></i> 변경</button>
                                    <button class="btn btn-info" onclick="orderCheckDone()"><i class="fa-solid fa-box"></i> 포장</button>
                                    <button class="btn btn-info" onclick="orderCheckOut()"><i class="fa-solid fa-truck-fast"></i> 배송</button>
                                    <button class="btn btn-danger" onclick="closeOrder()"><i class="fa-solid fa-trash-can"></i> 주문 마감</button>
                                </div>
                                <table id="jqGrid" class="table table-bordered"></table>
                                <div id="jqGridPager"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <div class="content">
                    <!-- Modal -->
                    <div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog" aria-labelledby="orderInfoModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="orderInfoModalLabel">Modal</h6>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="##">
                                        <div class="form-group">
                                            <div class="alert alert-danger" id="edit-error-msg" style="display: none">오류 정보 표시란</div>
                                        </div>
                                        <input type="hidden" id="orderId" />
                                        <div class="form-group">
                                            <label for="totalPrice" class="control-label">주문 가격:</label>
                                            <input type="number" class="form-control" id="totalPrice" name="totalPrice" placeholder="주문 가격을 입력하세요" required="true" />
                                        </div>
                                        <div class="form-group">
                                            <label for="userAddress" class="control-label">배송지:</label>
                                            <input type="text" class="form-control" id="userAddress" name="userAddress" placeholder="배송지를 입력하십시오" value="##" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <button type="button" class="btn btn-primary" id="saveButton">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.Modal -->
                </div>
                <div class="content">
                    <!-- Modal -->
                    <div class="modal fade" id="expressInfoModal" tabindex="-1" role="dialog" aria-labelledby="expressInfoModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="expressInfoModalLabel">Modal</h6>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="##">
                                        <div class="form-group">
                                            <label class="control-label">배송정보:</label>
                                            <label id="userAddressInfo" class="control-label"></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.Modal -->
                </div>
                <div class="content">
                    <!-- Modal -->
                    <div class="modal fade" id="orderItemModal" tabindex="-1" role="dialog" aria-labelledby="orderItemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="orderItemModalLabel">Modal</h6>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="##">
                                        <div class="form-group">
                                            <label id="orderItemString" class="control-label"></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.Modal -->
                </div>
            </div>
            <!-- /.content-wrapper -->
            <!-- footer-fragment -->
            <div th:replace="admin/footer::footer-fragment"></div>
        </div>
        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
        <!-- Fontawesome -->
        <script th:src="@{/webjars/font-awesome/6.1.2/js/fontawesome.min.js}"></script>
        <!-- jqgrid -->
        <script th:src="@{/webjars/jqGrid/5.7.0/js/jquery.jqGrid.min.js}"></script>
        <script th:src="@{/webjars/jqGrid/5.7.0/js/i18n/grid.locale-kr.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.js}"></script>
        <script th:src="@{/admin/dist/js/public.js}"></script>
        <script th:src="@{/admin/dist/js/list-order.js}"></script>
    </body>
</html>
