<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:replace="admin/header::head-fragment"></header>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- header-fragment -->
            <div th:replace="admin/header::header-nav"></div>
            <!-- sidebar-fragment -->
            <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
            <!-- Content Wrapper. Contains icon content -->
            <div class="content-wrapper">
                <!-- Content Header (icon header) -->
                <div class="content-header">
                    <!-- container-fluid -->
                    <div class="container-fluid"></div>
                    <!-- /.container-fluid -->
                </div>
                <!-- Main content -->
                <div class="content">
                    <!-- container-fluid -->
                    <div class="container-fluid">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">상품 관리</h3>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-body">
                                <div class="grid-btn">
                                    <button class="btn btn-info" onclick="addProduct()"><i class="fa fa-plus"></i>상품 추가</button>
                                    <button class="btn btn-info" onclick="editProduct()"><i class="fa fa-pencil-square-o"></i>상품 수정</button>
                                    <button class="btn btn-success" onclick="putUpProduct()"><i class="fa fa-arrow-up"></i>진열</button>
                                    <button class="btn btn-danger" onclick="putDownProduct()"><i class="fa fa-arrow-down"></i>판매안함</button>
                                </div>
                                <table id="jqGrid" class="table table-bordered"></table>
                                <div id="jqGridPager"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
            <!-- /.content-wrapper -->
            <!-- footer-fragment -->
            <div th:replace="admin/footer::footer-fragment"></div>
        </div>
        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <!-- Bootstrap 4 -->
        <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
        <!-- jqgrid -->
        <script th:src="@{/webjars/jqGrid/5.7.0/js/jquery.jqGrid.min.js}"></script>
        <script th:src="@{/webjars/jqGrid/5.7.0/js/i18n/grid.locale-kr.js}"></script>
        <!-- sweetalert -->
        <script th:src="@{/webjars/sweetalert/2.1.2/dist/sweetalert.min.js}"></script>
        <script th:src="@{/admin/dist/js/public.js}"></script>
        <script th:src="@{/admin/dist/js/list_product.js}"></script>
    </body>
</html>
