<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Insert title here</title>
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="wrap">
                <!-- gnb_area -->
                <div class="top_gnb_area">
                    <ul class="list">
                        <li><a href="/">메인 페이지</a></li>
                        <li><a href="/users/logout.do">로그아웃</a></li>
                        <li><a href="/">고객센터</a></li>
                    </ul>
                </div>
                <!-- top_subject_area -->
                <div class="admin_top_wrap">
                    <span>관리자 페이지</span>
                </div>
                <!-- contents-area -->
                <div class="admin_wrap">
                    <!-- 네비영역 -->
                    <div>
                        <ul class="admin_navi_wrap">
                            <li>
                                <a class="admin_list_01" href="/product/insert.do">상품 등록</a>
                            </li>
                            <li>
                                <a class="admin_list_02" href="/product/list/1">상품 목록</a>
                            </li>
                            <li>
                                <a class="admin_list_03" href="/category/insert.do">카테고리 등록</a>
                            </li>
                            <li>
                                <a class="admin_list_03" href="/category/list/1">카테고리 목록</a>
                            </li>
                            <li>
                                <a class="admin_list_04" href="/#">주문 관리</a>
                            </li>
                            <li>
                                <a class="admin_list_05" href="/board/list/1">게시판 관리</a>
                            </li>
                            <li>
                                <a class="admin_list_06" href="/notice/list/1">공지사항 관리</a>
                            </li>
                            <li>
                                <a class="admin_list_07" href="/users/list/1">회원 관리</a>
                            </li>
                        </ul>
                        <!-- 
                    <div class="admin_list_01">
                        <a>상품 관리</a>
                    </div>
                     -->
                    </div>
                    <div class="admin_content_wrap">
                        <div>관리자 페이지 입니다.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </body>
    <footer th:insert="/footer"></footer>
</html>
