<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리 리스트</title>
<style type="text/css">

	#detail:hover{
		cursor: Pointer;
	}
	html, body {
		height: 100%;
		display: flex;
		flex-flow: column;
		
	}
	
	footer {
		flex: 1;
		height: auto;
	  	min-height: 100%; /* footer 높이 조절 */
	  	position: relative;
	}
	
	#wrapper {	
		height: auto;
	  	/* min-height: 100%; */
	  	position: relative;
	  
	}
	
</style>
</head>
<body>
	<header th:insert="/headerNav"></header>
	<div id="wrapper">
		<div  class="container">
			<h1 class="m-3 d-flex justify-content-between align-items-center" >
				<span>카테고리 목록</span>
				<a href="/category/insert.do" class="btn btn-secondary">카테고리 등록</a>
			</h1>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>카테고리 번호</th>
						<th>카테고리 이름</th>
					</tr>
				</thead>
				<tbody>
					<tr id="detail" th:each="category : ${categoryList}"
						th:onclick="location.href='/category/detail/[[${category.categoryId}]]'">
						<td th:text="${category.categoryId}"></td>
						<td th:text="${category.categoryName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-evenly" th:insert="/pagination.html"></div>
		</div>
		<footer th:insert="/footer"></footer>
	</div>
</body>
</html>