<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> 상품 결제페이지 </title>
<link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	<main class="container">
		<h1 class="m-2 d-flex justify-content-center">
			결제
		</h1>
		 <form action="/order/insert.do" class="col-8" method="post">
			<div class="m-5 d-flex justify-content-between">
				<div class="col-10 m-5">
					<label for="inputName" class="form-label">이름</label>
					<input style="max-width: 150px" name="users.username" class="form-control" id="inputName" placeholder="" required readonly
					th:value="${session.loginUsers.username}">
					<label for="inputEmail" class="mt-2 form-label">유저 이메일</label>
					<input style="max-width: 250px"  name="users.email" class="form-control" id="inputEmail"  required readonly
					th:value="${session.loginUsers.email}">
					<label for="inputPhone" class="mt-2 form-label">유저 폰 번호</label>
					<input style="max-width: 250px" name="users.phone" class="form-control" id="inputPhone" placeholder="" required readonly
					th:value="${session.loginUsers.phone}">
					
			      <th:block th:each="order:${proList}">
					<th:block th:each="p:${order.products}">
			    	
						<label for="inputPro" class="form-label">상품 명</label>
						<input style="max-width: 150px" name="p.productName" class="form-control" id="inputPro" placeholder="" required readonly
						th:value="${p.productName}">
						
						<label for="inputPro2" class="mt-2 form-label">상품 개당 가격</label>
						<input style="max-width: 150px" name="p.price" class="form-control" id="inputPro2" placeholder="" required readonly
						th:value="${p.price}">						
						
					</th:block>
				  </th:block>
			    
			       	<label for="inputOrderAdd" class="mt-2 form-label">배송받을 지역</label>
			    	<input style="max-width: 1000px" name="orderAdd" 
			    	onkeyup="noSpace(this);" onchange="noSpace(this);" 
			    	class="form-control" id="inputOrderAdd">    	
			    	
			    	
			    	<label for="inputOrderState" class="mt-2 form-label">결제 방법</label>
			    	<br>
			    	<input type="radio" name="orderOption" id="inputOrderState" value="신용카드">신용카드   
			    	<input type="radio" name="orderOption" id="inputOrderState" value="계좌이체">계좌이체
				</div>
			  
			    
		    </div>
		    <button class="btn btn-outline-primary m-5 d-flex justify-content-end" type="submit">결제 하기</button>
	 	</form> 	
	</main>
</body>
<footer th:insert="/footer"></footer>
<script>
function noSpace(obj) { // 공백사용못하게
    var str = /\s/;  // 공백체크
    if(str.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 첫 글자 공백을 사용할수 없습니다.");
        obj.focus();
        obj.value = obj.value.replace(/^ +/,''); // 공백제거
        return false;
    }
}
</script>
</html>