<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리 리스트</title>
<style type="text/css">

	#detail:hover{
		cursor: Pointer;
	}
	html, body {
		height: 100%;
		display: flex;
		flex-flow: column;
		
	}
	
	footer {
		flex: 1;
		height: auto;
	  	min-height: 100%; /* footer 높이 조절 */
	  	position: relative;
	}
	
	#wrapper {	
		height: auto;
	  	/* min-height: 100%; */
	  	position: relative;
	  
	}
	
</style>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
		<form action="/order/insert.do" method="get">
			<button type="submit">결제 하기</button>
		</form>
</body>
		<footer th:insert="/footer"></footer>
</html>