<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mall/header::head-fragment('상품 세부정보','detail')"> </head>

<body>
    <div class="wrapper">
        <!-- Main Header Component -->
        <div th:replace="mall/header::header-fragment"></div>
        <!-- Nav Component -->
        <div th:replace="mall/header::nav-fragment"></div>
        <!-- Search Modal -->
        <div th:replace="mall/header::searchmodal"></div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Component -->
            <div class="content">
                <!-- Container-fluid -->
                <div class="container-fluid">
                    <section>
                        <!-- Item Detail Content -->
                        <article class="bg-light">
                            <div class="container pb-5">
                                <div class="row">
                                    <div class="col-lg-5 mt-5">
                                        <div class="card mb-3">
                                            <img class="card-img img-fluid" th:src="@{${productDetail.productCoverImg}}"
                                                alt="Card image cap" id="product-detail" />
                                        </div>
                                    </div>
                                    <div class="col-lg-7 mt-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="h2" th:text="${productDetail.productName}">상품명</h1>
                                                <p class="h3 py-2">
                                                    <th:block th:text="${productDetail.sellingPrice}+'₩ '">판매가
                                                    </th:block>
                                                    <del class="text-muted">
                                                        <th:block th:text="${productDetail.originalPrice}+'₩'">소비자가
                                                        </th:block>
                                                    </del>
                                                </p>
                                                <h6>Description:</h6>
                                                <p th:text="${productDetail.productIntro}"></p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <h6>Avaliable Color :</h6>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted"><strong>White / Black</strong></p>
                                                    </li>
                                                </ul>
                                                <form action="" method="GET">
                                                    <input type="hidden" name="product-title" value="Activewear" />
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <ul class="list-inline pb-3">
                                                                <li class="list-inline-item">
                                                                    Size :
                                                                    <input type="hidden" name="product-size"
                                                                        id="product-size" value="S" />
                                                                </li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success btn-size">S</span></li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success btn-size">M</span></li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success btn-size">L</span></li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success btn-size">XL</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-auto">
                                                            <ul class="list-inline pb-3">
                                                                <li class="list-inline-item text-right">
                                                                    Quantity
                                                                    <input type="hidden" name="productCount"
                                                                        id="productCount" value="1" />
                                                                </li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success" id="btn-minus">-</span>
                                                                </li>
                                                                <li class="list-inline-item"><span
                                                                        class="badge bg-secondary"
                                                                        id="var-value">1</span></li>
                                                                <li class="list-inline-item"><span
                                                                        class="btn btn-success" id="btn-plus">+</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row pb-3">
                                                        <div class="col d-grid">
                                                            <button type="button" class="btn btn-success btn-lg"
                                                                name="submit"
                                                                th:onclick="'saveAndGoCart('+${productDetail.productId}+')'">Buy</button>
                                                        </div>
                                                        <div class="col d-grid">
                                                            <button type="button" class="btn btn-success btn-lg"
                                                                name="submit"
                                                                th:onclick="'saveToCart('+${productDetail.productId}+')'">Add
                                                                To Cart</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- /.Item Detail Content -->
                        <div class="clear"></div>
                        <article>
                            <!-- text는 출력할 문자열에 태그가 포함되어 있는 경우, 태그를 반영하지 않고 문자 그대로 출력한다. -->
                            <!-- 태그를 반영하려면 text대신 utext를 사용하면 된다. -->
                            <div class="product mt20 w clearfix" th:utext="${productDetail.productDetailContent}"></div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <div th:replace="mall/footer::footer-fragment"></div>
    </div>
    <!-- js 라이브러리 -->
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <!-- Popper-->
    <script th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <!-- Fontawesome -->
    <script th:src="@{/webjars/font-awesome/6.1.2/js/fontawesome.min.js}"></script>
    <!-- sweetalert -->
    <script th:src="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.js}"></script>
    <!-- Swiper -->
    <script th:src="@{/webjars/swiper/8.3.2/swiper-bundle.min.js}"></script>
    <script th:src="@{/mall/js/detail.js}"></script>
    <script th:src="@{/mall/js/header-search.js}"></script>
</body>

</html>
