<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Footer Container -->
    <footer class="py-3 my-4" th:fragment="footer-fragment">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/users/agreement" class="nav-link px-2 text-muted">서비스이용약관</a></li>
            <li class="nav-item"><a href="/users/privacy" class="nav-link px-2 text-muted">개인정보취급방침</a></li>
            <li class="nav-item"><a href="/users/emailRejection" class="nav-link px-2 text-muted">이메일무단수집거부</a></li>
        </ul>
        <p class="text-center text-muted">
            서울특별시 마포구 양화로 122 LAB7 빌딩 3층, 4층
            <b>|</b>
            회사명 : 에이콘 쇼핑몰
            <b>|</b>
            대표 :
            <b>|</b>
            사업자번호 : 111-11-77777
            <b>|</b>
            개인정보 보호관리자 :
        </p>
        <p class="text-center text-muted">COPYRIGHTⓒ2022 Acorn. All Right Reserved.</p>
    </footer>
</html>
