<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-fragment(title,path)">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title}">Header</title>
        <link rel="stylesheet" th:href="@{/webjars/swiper/8.3.2/swiper-bundle.min.css}" />
        <!-- 웹 아이콘 라이브러리 -->
        <!-- Font Awasome-->
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
        <!-- 웹 페이지 별 맞춤형 css -->
        <link rel="stylesheet" th:href="@{/mall/styles/header.css}" />
        <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}" />
    </head>
    <header id="header" th:fragment="header-fragment">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/mall/index}">Acorn Shop</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <th:block th:unless="${session.User==null}">
                    <div class="user">
                        <li class="nav-item"><a class="nav-link" th:href="@{/mall/logout}"> 로그아웃 </a></li>
                        <a href="##" class="username">
                            <th:block th:text="${session.User.nickName}"></th:block>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </th:block>
                <th:block th:if="${session.User==null}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/mall/login}">회원로그인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/mall/register}">회원가입</a></li>
                </th:block>
            </ul>
        </nav>
    </header>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="nav-fragment">
        <div class="container">
            <a th:href="@{/mall/index}" class="navbar-brand">
                <img src="/img/logo.webp" alt="Acron Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8; height: 50px" />
                <span class="brand-text font-weight-light"></span>
            </a>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm search">
                    <input class="form-control form-control-navbar" type="text" placeholder="Search" aria-label="Search" id="keyword" autocomplete="off" />
                    <div class="input-group-append search_hot">
                        <button class="btn btn-navbar" type="submit" onclick="search()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <th:block th:unless="${session.User==null}">
                    <div class="user">
                        <li class="nav-item"><a class="nav-link" th:href="@{/mall/myhome}"> My Page </a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/mall/orders}"> Order </a></li>
                    </div>
                    <div class="shopcart">
                        <a class="nav-link" th:href="@{/shop-cart}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            장바구니(
                            <th:block th:text="${session.User.shopCartItemCount}"></th:block>
                            )
                        </a>
                    </div>
                </th:block>
                <th:block th:if="${session.User==null}">
                    <div class="shopcart">
                        <a class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 장바구니(0)</a>
                    </div>
                </th:block>
            </ul>
        </div>
    </nav>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="menu-fragment">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <ul class="navbar-nav">
                <th:block th:each="category : ${categories}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" type="btn" data-bs-toggle="dropdown" href="#" th:id="${category.categoryName}">
                            <th:block th:text="${category.categoryName}"></th:block>
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:each="secondLevelCategory : ${category.secondLevelCategoryVOS}">
                                <li>
                                    <h6 class="dropdown-header">
                                        <th:block th:text="${secondLevelCategory.categoryName}"></th:block>
                                    </h6>
                                </li>
                                <th:block th:each="thirdLevelCategory : ${secondLevelCategory.thirdLevelCategoryVOS}">
                                    <li>
                                        <a class="dropdown-item" th:href="@{'/search?productCategoryId='+${thirdLevelCategory.categoryId}}">
                                            <th:block th:text="${thirdLevelCategory.categoryName}"></th:block>
                                        </a>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</html>
