<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-fragment(title,path)">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title}">Header</title>
        <link rel="stylesheet" th:href="@{/webjars/swiper/8.3.2/swiper-bundle.min.css}" />
        <!-- 웹 아이콘 라이브러리 -->
        <!-- Font Awasome-->
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/fontawesome.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
        <!-- Sweetalert -->
        <link rel="stylesheet" th:href="@{/webjars/sweetalert2/11.4.24/dist/sweetalert2.min.css}" />
        <!-- TemplateMo 559 Zay Shop -->
        <link rel="stylesheet" th:href="@{/mall/css/templatemo.min.css}" />
        <!-- 웹 페이지 별 맞춤형 css -->
        <link rel="stylesheet" th:href="@{/mall/styles/header.css}" />
        <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}" />
    </head>
    <!-- Header Component -->
    <nav th:fragment="header-fragment" class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <!-- Left navbar links -->
                <div>
                    <i class="fa-solid fa-house mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" th:href="@{/mall/index}">Acorn Shop</a>
                    <i class="fa-solid fa-gear mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" th:href="@{/admin}">Admin</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav Componenet-->
    <nav class="navbar navbar-expand-lg navbar-light shadow" th:fragment="nav-fragment">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Brand Logo -->
            <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/mall/index}">
                <img src="/img/logo.webp" alt="Acorn Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8; height: 50px" />
            </a>

            <!-- 모바일 화면 네비게이션 토글 -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 네비게이션 내용 -->
            <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <!-- Menus -->
                <!-- 카테고리가 3단계까지 존재해야 출력됨 -->
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <th:block th:each="category : ${categories}">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" th:href="@{'/mall/search?CategoryId='+${category.categoryId}}" type="button" aria-expanded="false">
                                    <th:block th:text="${category.categoryName}"> </th:block>
                                </a>
                                <ul class="dropdown-menu">
                                    <th:block th:each="secondLevelCategory : ${category.secondLevelCategoryVOS}">
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item dropdown-toggle" th:href="@{'/mall/search?CategoryId='+${secondLevelCategory.categoryId}}" data-bs-toggle="dropdown-submenu" type="button" aria-expanded="false">
                                                <th:block th:text="${secondLevelCategory.categoryName}"> </th:block>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <th:block th:each="thirdLevelCategory : ${secondLevelCategory.thirdLevelCategoryVOS}">
                                                    <li>
                                                        <a class="dropdown-item" th:href="@{'/mall/search?CategoryId='+${thirdLevelCategory.categoryId}}">
                                                            <th:block th:text="${thirdLevelCategory.categoryName}"> </th:block>
                                                        </a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </li>
                                    </th:block>
                                </ul>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <!-- Search -->
                <div class="navbar align-self-center d-flex">
                    <form class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="mobileKeyword" placeholder="Search ..." autocomplete="off" />
                            <div class="input-group-text" type="submit" onclick="mobileSearch()">
                                <i class="fa-solid fa-fw fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </form>
                    <!-- PC 상태일때 검색기능 -->
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa-solid fa-fw fa-magnifying-glass text-dark mr-2"></i>
                    </a>
                    <!-- 로그인 상태임 -->
                    <th:block th:unless="${session.AcornUser==null}">
                        <a class="nav-icon position-relative text-decoration-none" th:href="@{/mall/cart}">
                            <i class="fa-solid fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
                                <th:block th:text="${session.AcornUser.shopCartItemCount}"></th:block>
                            </span>
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" th:href="@{/mall/myhome}">
                            <i class="fa-solid fa-fw fa-user text-dark mr-3"></i>
                        </a>
                    </th:block>
                    <!-- 로그인 상태가 아님 -->
                    <th:block th:if="${session.AcornUser==null}">
                        <a class="nav-icon position-relative text-decoration-none">
                            <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">0</span>
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" th:href="@{/mall/login}">
                            <i class="fa-solid fa-fw fa-right-to-bracket text-dark mr-3"></i>
                        </a>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>

    <!-- Search Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true" th:fragment="searchmodal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="keyword" autocomplete="off" placeholder="Search ..." />
                    <button type="submit" class="input-group-text bg-success text-light" onclick="search()">
                        <i class="fa-solid fa-fw fa-magnifying-glass text-white"></i>
                    </button>
                </div>
            </form>
            <div class="search_hot"></div>
        </div>
    </div>
</html>
