<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#detail:hover{
		cursor: Pointer;
	}
	html, body {
		height: 100%;
		display: flex;
		flex-flow: column;
	}
	footer {
		flex: 1;
		height: auto;
	  	position: relative;
	}
	#wrapper {	
		height: auto;
	  	/* min-height: 100%; */
	  	position: relative;
	}
</style>
<script type="text/javascript" th:src="@{/public/js/basket/basket.js}" defer="defer"></script>
</head>
<body>
<header th:insert="/gAndB"></header>
<header th:insert="headerNav"></header>
<form action="/basket/selected/delete" method="post" >
	<!-- Page Add Section Begin -->
	<section class="page-add cart-page-add">
		<div class="container mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-breadcrumb">
						<h1>Cart<span>.</span></h1>
					</div>
				</div> 
				<div class="d-flex justify-content-end" >
					<a th:href="@{/basket/user/delete/{userId}(userId=${session.loginUsers?.userid})}" 
						class="btn btn-sm btn-outline-danger">
						전체 삭제 
					</a> 
					<button  class="btn btn-sm btn-outline-danger">
							선택 삭제
					</button>
					<input type="hidden" name="userId" th:value="${session.loginUsers?.userid}">
				</div>
			</div>
		</div>
	</section>
	<!-- 장바구니 table -->
	<div>
		<div class="container">
			<table class="table table-striped mt-3">
				<thead>
	                <tr>
	                    <th><input type="checkbox" value='selectall' onclick='selectAll(this)' /></th>
	                    <th class="product-h">Product</th>
	                    <th>Price</th>
	                    <th>Quantity</th>
	                    <th>Total</th>
	                    <th></th>
	                </tr>
	            </thead> 
	            <tbody>
				<tr th:each="baskets : ${basketList}">
					<td class="product-close">
						<input type="checkbox" name='basket_id' th:value="${baskets.basket_id}"> 
					</td>
					<td>
						<img  style="height:150px; width:150px; object-fit:cover;"
				 			class="img-thumbnail" alt="상품 이미지" >
				 		<p th:text="${baskets.product.productName}" ></p> 
					</td>
					<td th:text="${baskets.product.price}"></td>
					<td th:text="${baskets.count}" ></td>
					<td th:text="${baskets.product.price * baskets.count}"></td>
				</tr>
			</tbody>
			</table>

			<th:block th:each="baskets : ${basketList}">			
				<div class="d-flex justify-content-evenly">
					<th:block th:if="${baskets!=null}">
	                    <div th:insert="/pagination.html"></div>
	                </th:block>
				</div>			
			</th:block>

		</div>
	</div>  
</form>
	<footer th:insert="/footer"></footer>               
</body>
</html>