<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.BoardImgMapper">
	<insert id="insertOne" parameterType="BoardImg">
		INSERT INTO BOARD_IMG (board_no,img_path) VALUES (#{board_no},#{img_path})
	</insert>
	<select id="selectBoardNo" resultType="BoardImg" parameterType="int">
		SELECT * FROM BOARD_IMG
			WHERE board_no = #{boardNo}
	</select>
	
	<select id="selectUserId" resultType="BoardImg" parameterType="String">
		SELECT * FROM BOARD_IMG
			WHERE board_no
			IN (SELECT board_no FROM BOARD WHERE user_id=#{userId})
	</select> 
	
	<!-- update  -->
	<select id="selectOne" resultType="BoardImg" parameterType="int" >
		SELECT * FROM BOARD_IMG
			WHERE board_img_no = #{boardImgNo}
	</select>
	
	<delete id="deleteOne" parameterType="int">
		DELETE FROM BOARD_IMG 
			WHERE board_img_no = #{boardImgNo}
	</delete>
	
	<select id="selectCountBoardNo" parameterType="int"  resultType="int">
		SELECT COUNT(*) FROM BOARD_IMG 
			WHERE board_no = #{boardNo}
	</select>
</mapper>