<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.CategoryMapper">

	<resultMap type="Category" id="CategoryMap">
		<id column="categoryid" property="categoryId"/>
		<result column="categoryName" property="categoryName"/>
		
		<collection property="products" javaType="java.util.ArrayList" ofType="Product">
			<id column="productid" property="productid"/>
			<result column="productName" property="productName"/>
			<result column="productSize" property="productSize"/>
			<result column="productColor" property="productColor"/>
			<result column="productGroup" property="productGroup"/>
			<result column="productInfo" property="productInfo"/>
			<result column="productStock" property="productStock"/>
			<result column="productDate" property="productDate"/>
			<result column="price" property="price"/>
		</collection>
	</resultMap>
	
	
	<select id="selectCategoryAll" resultType="Category">
		<!-- SELECT *, productid 'product.productid' FROM CATEGORY LIMIT #{startRow},#{pageSize}  -->
		
	<!-- 	SELECT 
			c.categoryid as 'categoryId',
			c.categoryName as 'categoryName', 

			p.productid as 'products.productid',
			p.productName as 'products.productName',
			p.productSize as 'products.productSize',
			p.productColor as 'products.productColor',
			p.productGroup as 'products.productGroup',
			p.productStock as 'products.productStock',
			p.productDate as 'products.productDate',
			p.price as 'products.price',
			p.categoryid as 'category.categoryid'

			FROM CATEGORY c LEFT JOIN PRODUCT p 
			USING (categoryId)
			LIMIT #{startRow}, #{pageSize} -->
			
			SELECT *, categoryid as 'categoryId',
				c.productid as 'products.productid'
				FROM CATEGORY c
			
		<!-- SELECT *,categoryid as 'category.categoryId'FROM PRODUCT LIMIT #{startRow},#{pageSize} -->
	</select>

	<select id="selectAllCount" resultType="int">
		SELECT COUNT(*) FROM CATEGORY
	</select>
	
	<select id="selectOne" resultMap="CategoryMap">
		SELECT * FROM CATEGORY WHERE categoryid=#{categoryid}
	</select>
	
	<select id="selectCateProduct" resultMap="CategoryMap">
		SELECT p.*, c.* FROM PRODUCT p LEFT JOIN CATEGORY c USING (categoryId)
	</select>
	
	
</mapper>