<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.CategoryMapper">

	<resultMap type="Category" id="CategoryMap">
		<id column="categoryId" property="categoryId"/>
		<result column="categoryName" property="categoryName"/>
		<!-- Category : Product = 1 : N -->
		<collection property="products" javaType="java.util.ArrayList" ofType="Product">
			<id column="productid" property="productid"/>
			<result column="productName" property="productName"/>
			<result column="productSize" property="productSize"/>
			<result column="productColor" property="productColor"/>
			<result column="productGroup" property="productGroup"/>
			<result column="productInfo" property="productInfo"/>
			<result column="productStock" property="productStock"/>
			<result column="productDate" property="productDate"/>
			<result column="price" property="price"/>
		</collection>
	</resultMap>
	
	<select id="selectAll" resultMap="CategoryMap">
		SELECT c.*, p.productid, p.productName, p.productSize, p.productColor,
		 p.productGroup, p.productInfo, p.productStock, p. productDate, p.price 
		 FROM CATEGORY c
		LEFT JOIN PRODUCT p USING(categoryId)
		LIMIT #{startRow},#{pageSize}
	</select>
	
	<!-- category/list.do  -->
	<select id="selectListAll" resultMap="CategoryMap">
		SELECT * FROM CATEGORY LIMIT #{startRow},#{pageSize}
	</select>
	
	 <select id="selectAllCount" resultType = "int" >
 		SELECT COUNT(*) FROM CATEGORY c
		LEFT JOIN PRODUCT p USING(categoryId)
 	</select>
 	
 	<!-- category/list.do -->
	<select id="selectListAllCount" resultType="int">
		SELECT COUNT(*) FROM CATEGORY
	</select>
	
	<select id="selectCateAll" resultMap="CategoryMap">
		SELECT c.*, p.productid, p.productName, p.productSize, p.productColor,
		 p.productGroup, p.productInfo, p.productStock, p. productDate, p.price 
		 FROM CATEGORY c
		LEFT JOIN PRODUCT p USING(categoryId)
		WHERE categoryId=#{categoryId}
		LIMIT #{startRow},#{pageSize}
	</select>
	
	<select id="selectCateAllCount" resultType = "int" >
 		SELECT COUNT(*) FROM CATEGORY c
		LEFT JOIN PRODUCT p USING(categoryId)
 		WHERE categoryId=#{categoryId}
 	</select>
 	
 	<insert id="insertOne" parameterType="Category">
 		INSERT INTO CATEGORY VALUES (#{categoryId}, #{categoryName})
 	</insert>
 	
</mapper>