<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.ProductImgMapper">

	<insert id="insertOne" parameterType="ProductImg">
		INSERT INTO PRODUCT_IMG (productid, img_path) VALUES (#{productid},#{img_path})
	</insert>
	
	<select id="selectProductId" resultType="ProductImg" parameterType="int">
		SELECT * FROM PRODUCT_IMG
			WHERE productid=#{productid}
	</select>
	
	<select id="selectOne" resultType="ProductImg" parameterType="int">
		SELECT * FROM PRODUCT_IMG
			WHERE product_img_no=#{productImgNo}
	</select>

	<delete id="deleteOne" parameterType="int">
		DELETE FROM PRODUCT_IMG WHERE product_img_no=#{productImgNo}
	</delete>
	
	<select id="selectCountProductId" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM PRODUCT_IMG
			WHERE productid = #{productid}
	</select>
</mapper>