<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       

<mapper namespace="com.project.mainPage.mapper.ProductMapper">

	<resultMap type="Product" id="ProductMap">
		<id column="productid" property="productid"/>
		<result column="productName" property="productName"/>
		<result column="productSize" property="productSize"/>
		<result column="productColor" property="productColor"/>
		<result column="productGroup" property="productGroup"/>
		<result column="productInfo" property="productInfo"/>
		<result column="productStock" property="productStock"/>
		<result column="productDate" property="productDate"/>
		<result column="price" property="price"/>
		<!-- Product : Category = N : 1 -->
		<association property="category" javaType="Category" foreignColumn="categoryId">
			<id column="categoryid" property="categoryId"/>
			<result column="categoryName" property="categoryName"/>
		</association>
	</resultMap>

	<select id="selectPageAll" resultMap="ProductMap">
		SELECT * FROM PRODUCT
	</select>
	
	<select id="selectOne" resultMap="ProductMap">
		SELECT *
			FROM PRODUCT
			WHERE productid=#{producid}
	</select>
	

</mapper>