<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.ReplyMapper">
	<select id="selectBoardNoPage" resultType="Reply" >
		SELECT reply_no,title,contents,post_time,img_path,board_no,
			reply_no	as no,
			userid 	as 'users.userid',
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=true) 	as good,
			(SELECT COUNT(*) FROM REPLY_PREFER WHERE reply_no=no AND prefer=false) 	as bad
			<if test="loginUsersId!=null">
			,(SELECT prefer FROM REPLY_PREFER WHERE reply_no=no AND userid=#{loginUsersId}) as prefer_active
			</if>	
			FROM REPLY 
			WHERE board_no=#{boardNo}
			ORDER BY reply_no DESC
			LIMIT #{startRow},#{pageSize}
	</select>
	<select id="selectBoardNoCount" resultType="int" >
		SELECT COUNT(*) FROM REPLY WHERE board_no=#{boardNo}
	</select>
	<select id="selectBoardNo" resultType="Reply" parameterType="int">
		SELECT *,userid 'users.userid' FROM REPLY 
		WHERE board_no=#{boardNo}
	</select>
	<insert id="insertOne" parameterType="Reply" 
	useGeneratedKeys="true" keyProperty="reply_no">
		insert into reply (title,contents,userid,board_no,img_path)
		values (#{title},#{contents},#{users.userid},#{board_no},#{img_path})
	</insert>
</mapper>