<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.tmp_CategoryMapper">
    <resultMap id="BaseResultMap" type="com.project.mainPage.dto.tmp_Category">
        <id column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="category_level" jdbcType="TINYINT" property="categoryLevel"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="category_rank" jdbcType="INTEGER" property="categoryRank"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="UPDATE_time" jdbcType="TIMESTAMP" property="UPDATETime"/>
        <result column="UPDATE_user" jdbcType="INTEGER" property="UPDATEUser"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id, category_level, parent_id, category_name, category_rank, is_deleted, create_time, create_user, UPDATE_time, UPDATE_user
    </sql>
    
    <select id="SELECTByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_PRODUCT_CATEGORY
            WHERE category_id = #{categoryId,jdbcType=BIGINT} 
            AND is_deleted=0
    </select>
    
    <select id="SELECTByLevelANDName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_PRODUCT_CATEGORY
            WHERE category_name = #{categoryName,jdbcType=VARCHAR} AND category_level = #{categoryLevel,jdbcType=TINYINT} 
            AND is_deleted = 0 limit 1
    </select>
    
    <select id="SELECTByLevelANDParentIdsANDNumber" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_PRODUCT_CATEGORY
            WHERE parent_id IN
            <foreach item="parentId" collection="parentIds" open="(" separator="," close=")">
                #{parentId,jdbcType=BIGINT}
            </foreach>
            AND category_level = #{categoryLevel,jdbcType=TINYINT}
            AND is_deleted = 0
            order by category_rank desc
            <if test="number>0">
                limit #{number}
            </if>
    </select>
    
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE TB_PRODUCT_CATEGORY SET is_deleted=1
            WHERE category_id = #{categoryId,jdbcType=BIGINT} 
            AND is_deleted=0
    </update>
    
    <update id="deleteBatch">
        UPDATE TB_PRODUCT_CATEGORY
            SET is_deleted=1 WHERE category_id IN
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
    </update>
    
    <insert id="INSERT" parameterType="com.project.mainPage.dto.tmp_Category">
        INSERT INTO TB_PRODUCT_CATEGORY (category_id, category_level, parent_id, category_name, category_rank, is_deleted, create_time, create_user, UPDATE_time, UPDATE_user)
            VALUES (
                #{categoryId,jdbcType=BIGINT}, 
                #{categoryLevel,jdbcType=TINYINT}, 
                #{parentId,jdbcType=BIGINT}, 
                #{categoryName,jdbcType=VARCHAR}, 
                #{categoryRank,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, 
                #{createUser,jdbcType=INTEGER}, 
                #{UPDATETime,jdbcType=TIMESTAMP}, 
                #{UPDATEUser,jdbcType=INTEGER})
    </insert>
    
    <insert id="INSERTSELECTive" parameterType="com.project.mainPage.dto.tmp_Category">
        INSERT INTO TB_PRODUCT_CATEGORY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryLevel != null">
                category_level,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="categoryRank != null">
                category_rank,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="UPDATETime != null">
                UPDATE_time,
            </if>
            <if test="UPDATEUser != null">
                UPDATE_user,
            </if>
        </trim>
    
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="categoryLevel != null">
                #{categoryLevel,jdbcType=TINYINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryRank != null">
                #{categoryRank,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="UPDATETime != null">
                #{UPDATETime,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATEUser != null">
                #{UPDATEUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    
    <update id="UPDATEByPrimaryKeySELECTive" parameterType="com.project.mainPage.dto.tmp_Category">
        UPDATE TB_PRODUCT_CATEGORY
        <set>
            <if test="categoryLevel != null">
                category_level = #{categoryLevel,jdbcType=TINYINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryRank != null">
                category_rank = #{categoryRank,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="UPDATETime != null">
                UPDATE_time = #{UPDATETime,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATEUser != null">
                UPDATE_user = #{UPDATEUser,jdbcType=INTEGER},
            </if>
        </set>
        WHERE category_id = #{categoryId,jdbcType=BIGINT}
    </update>
    
    <update id="UPDATEByPrimaryKey" parameterType="com.project.mainPage.dto.tmp_Category">
        UPDATE TB_PRODUCT_CATEGORY
            SET category_level = #{categoryLevel,jdbcType=TINYINT},
                parent_id = #{parentId,jdbcType=BIGINT},
                category_name = #{categoryName,jdbcType=VARCHAR},
                category_rank = #{categoryRank,jdbcType=INTEGER},
                is_deleted = #{isDeleted,jdbcType=TINYINT},
                create_time = #{createTime,jdbcType=TIMESTAMP},
                create_user = #{createUser,jdbcType=INTEGER},
                UPDATE_time = #{UPDATETime,jdbcType=TIMESTAMP},
                UPDATE_user = #{UPDATEUser,jdbcType=INTEGER}
            WHERE category_id = #{categoryId,jdbcType=BIGINT}
    </update>
</mapper>