<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mainPage.mapper.tmp_OrderMapper">
    <resultMap id="BaseResultMap" type="com.project.mainPage.dto.tmp_Order">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="total_price" jdbcType="INTEGER" property="totalPrice"/>
        <result column="pay_status" jdbcType="TINYINT" property="payStatus"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="order_status" jdbcType="TINYINT" property="orderStatus"/>
        <result column="extra_info" jdbcType="VARCHAR" property="extraInfo"/>
        <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        order_id, order_no, user_id, total_price, pay_status, pay_type, pay_time, order_status,
        extra_info, user_name, user_phone, user_address, is_deleted, create_time, UPDATE_time
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_ORDER
            WHERE order_id = #{orderId,jdbcType=BIGINT}
    </select>
    
    <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_ORDER
            WHERE order_no = #{orderNo,jdbcType=VARCHAR} 
            AND is_deleted=0 limit 1
    </select>
    
    <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_ORDER
            WHERE order_id IN
            <foreach collection="orderIds" item="item" index="index"
                    open="(" separator="," close=")">#{item}
            </foreach>
    </select>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE TB_ORDER SET is_deleted=1
            WHERE order_id = #{orderId,jdbcType=BIGINT} 
            AND is_deleted=0
    </update>
    
    <insert id="insert" parameterType="com.project.mainPage.dto.tmp_Order">
        INSERT INTO TB_ORDER (order_id, order_no, user_id, 
        total_price, pay_status, pay_type, pay_time, order_status, extra_info, user_address,is_deleted, create_time, UPDATE_time)
            VALUES (
                #{orderId,jdbcType=BIGINT}, 
                #{orderNo,jdbcType=VARCHAR}, 
                #{userId,jdbcType=BIGINT}, 
                #{totalPrice,jdbcType=INTEGER}, 
                #{payStatus,jdbcType=TINYINT}, 
                #{payType,jdbcType=TINYINT}, 
                #{payTime,jdbcType=TIMESTAMP}, 
                #{orderStatus,jdbcType=TINYINT}, 
                #{extraInfo,jdbcType=VARCHAR}, 
                #{userAddress,jdbcType=VARCHAR},
                #{isDeleted,jdbcType=TINYINT}, 
                #{createTime,jdbcType=TIMESTAMP}, 
                #{updateTime,jdbcType=TIMESTAMP}
            )
    </insert>
    
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="orderId"
            parameterType="com.project.mainPage.dto.tmp_Order">
        INSERT INTO TB_ORDER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="extraInfo != null">
                extra_info,
            </if>
            <if test="userAddress != null">
                user_address,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                UPDATE_time,
            </if>
        </trim>
    
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=TINYINT},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="extraInfo != null">
                #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="userAddress != null">
                #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="checkDone">
        UPDATE TB_ORDER
            SET order_status = 2,
                UPDATE_time = now()
            WHERE order_id IN
            <foreach collection="orderIds" item="item" index="index"
                    open="(" separator="," close=")">#{item}
            </foreach>
    </update>

    <update id="checkOut">
        UPDATE TB_ORDER
            SET order_status = 3,
                UPDATE_time = now()
            WHERE order_id IN
            <foreach collection="orderIds" item="item" index="index"
                    open="(" separator="," close=")">#{item}
            </foreach>
    </update>

    <update id="closeOrder">
        UPDATE TB_ORDER
            SET order_status = #{orderStatus},
                UPDATE_time = now()
            WHERE order_id IN
            <foreach collection="orderIds" item="item" index="index"
                    open="(" separator="," close=")">#{item}
            </foreach>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.project.mainPage.dto.tmp_Order">
        UPDATE TB_ORDER
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus,jdbcType=TINYINT},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=TINYINT},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=TINYINT},
            </if>
            <if test="extraInfo != null">
                extra_info = #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="userAddress != null">
                user_address = #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE order_id = #{orderId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.project.mainPage.dto.tmp_Order">
        UPDATE TB_ORDER
            SET order_no = #{orderNo,jdbcType=VARCHAR},
                user_id = #{userId,jdbcType=BIGINT},
                total_price = #{totalPrice,jdbcType=INTEGER},
                pay_status = #{payStatus,jdbcType=TINYINT},
                pay_type = #{payType,jdbcType=TINYINT},
                pay_time = #{payTime,jdbcType=TIMESTAMP},
                order_status = #{orderStatus,jdbcType=TINYINT},
                extra_info = #{extraInfo,jdbcType=VARCHAR},
                user_address = #{userAddress,jdbcType=VARCHAR},
                is_deleted = #{isDeleted,jdbcType=TINYINT},
                create_time = #{createTime,jdbcType=TIMESTAMP},
                UPDATE_time = #{updateTime,jdbcType=TIMESTAMP}
            WHERE order_id = #{orderId,jdbcType=BIGINT}
    </update>

    <select id="findOrderList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM TB_ORDER
        <where>
            <if test="orderNo !=null and orderNo!=''">
                AND order_no = #{orderNo}
            </if>
            <if test="userId !=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="payType !=null and payType!=''">
                AND pay_type = #{payType}
            </if>
            <if test="orderStatus !=null and orderStatus!=''">
                AND order_status = #{orderStatus}
            </if>
            <if test="isDeleted !=null and isDeleted!=''">
                AND is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                AND create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                AND create_time &lt; #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalOrders" parameterType="Map" resultType="int">
        SELECT count(*) FROM TB_ORDER
        <where>
            <if test="orderNo!=null and orderNo!=''">
                AND order_no = #{orderNo}
            </if>
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="payType!=null and payType!=''">
                AND pay_type = #{payType}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                AND order_status = #{orderStatus}
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                AND is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                AND create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                AND create_time &lt; #{endTime}
            </if>
        </where>
    </select>
    
</mapper>