<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
#footerConfig{
	width: 100%;
    background: #f0f0f0;
    overflow: hidden;
    word-break: keep-all;
    padding: 40px;
}
.footerList{
	display: inline-block;
    float: none;
    text-align: center;
}
.footerList>a{
	text-decoration: none;
	margin-right: 15px;
	color: black;
}
</style>
<div id="footerConfig">
		<ul>
			<li class="footerList">
				<a href="/users/agreement">서비스이용약관</a>
			</li>
			<li class="footerList">
				<a href="/users/privacy">개인정보취급방침</a>
			</li>
			<li class="footerList">
				<a href="/users/emailRejection">이메일무단수집거부</a>
			</li>
		</ul>
		<address>
			<span>
			서울특별시 마포구 양화로 122 LAB7 빌딩 3층, 4층
			<b>|</b>
			회사명 : 에이콘 쇼핑몰
			<b>|</b>
			대표 : 
			<b>|</b>
			</span>
		</address>
		<div class="fInfo">
			<span>
				사업자번호 : 116-81-07777
				<b>|</b>
				개인정보 보호관리자 : 
			</span>
			<span>COPYRIGHTⓒ2022 Acorn. All Right Reserved.</span>
		
		</div>
	</div>
</html>

