<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">
<script th:src="@{/bootstrap-5.2.0-dist/js/bootstrap.bundle.js}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/hover.css">

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
 	<div class="d-flex m-1">
  		<a class="navbar-brand" href="/">HOME</a>
	</div>
    <div class="d-flex justify-content-end collapse navbar-collapse" >
    	<div class="mb-0">
	    	<form class="d-flex" role="search">
	        	<input class="form-control" type="search" placeholder="Search" aria-label="Search">
	        	<button class="btn btn-outline-success btn-sm " 
	        		data-bs-toggle="collapse" 
	        		style="-bs-btn-padding-y: .3rem;"
	        		type="submit">Search</button>
	     	</form>
	    </div>
    </div>
  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">	
		<div class="d-flex justify-content-around collapse navbar-collapse" id="navbarNav"> 
			<ul class="mb-0 navbar-nav">
				<li class="nav-item">
					<a class="nav-link bi bi-clipboard-fill" href="/users/list/1">회원리스트</a>
				</li>
				
				<li class="nav-item dropdown">
         			<a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
           				카테고리
         			</a>
		          	<ul class="dropdown-menu">
		            	<li><a class="dropdown-item" href="/category/list/1">상의</a></li>
		            	<li><a class="dropdown-item" href="#">하의</a></li>
		            	<li><a class="dropdown-item" href="#">아우터</a></li>
		            	<li><a class="dropdown-item" href="#">신발</a></li>
		            	<li><a class="dropdown-item" href="#">모자</a></li>
		          	</ul>
        		</li>
				
				<li class="nav-item">
					<a class="nav-link" href="#">Outer</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="#">Dress</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="#">Etc</a>
				</li>
			</ul>
		</div>   
		<div class="d-flex justify-content-end m-1">
			<th:block th:if="${session.loginUsers == null}">
				<a class="btn btn-sm btn-outline-secondary" href="/users/login.do">로그인</a>
				<a href="/users/signup.do" class="btn btn-sm btn-light">회원가입</a> 
			</th:block>
			<th:block th:unless="${session.loginUsers == null}">
				<a th:href="@{/users/detail/{userid}(userid=${session.loginUsers.userid})}" class="btn btn-sm btn-outline-secondary">
					<span th:text="${session.loginUsers.username}"></span>
					(<span th:text="${session.loginUsers.userid}"></span>)					
				</a>
				<a href="/users/logout.do" class="btn btn-sm btn-danger">로그아웃</a>
			</th:block>
		</div>
	</div>

</nav>

</html>