<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SHOPPING HOME</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/board/list/1">회원</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/list/1">상품정보</a>
				</li>
			</ul>
			<div class="d-flex">
				<a href="/user/login.do" class="btn btn-success" >로그인</a>
				<a href="/user/signup.do" class="btn btn-sm btn-danger">회원가입</a>
			</div>
		</div>
	</div>
</nav>
</html>