<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<header th:insert="/headerNav"></header>
	<div class="container">
		<section class="shopping">
			<div class="heading">
				<h1>
					<span>With Acorn Academy</span>
					SHOPPING
				</h1>
				<p>
					의류 쇼핑몰을 방문해 주셔서 감사합니다.
				</p>
				<p>
					최고의 서비스를 제공하도록 노력하겠습니다.
				</p>
			</div>
			<video src="/medias/shopping.mp4" autoplay muted loop></video>
		</section>
		<section  id="category ml-5">
        	<div class="container" >
        		 <div class="text-center">
			          <img alt="상의" class="rounded float-start" src="/img/knit.jpg" width="23%" >
			          <img alt="아우터" src="/img/outer.jpg" width="23%">
			          <img alt="드레스" src="/img/dress.jpg" width="23%">
			          <img alt="신발" class="rounded float-end" src="/img/etc.jpg" width="23%" >
			      </div>
			</div>
        </section>
	</div>
</body>
</html>