<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>shop</title>
<link rel="stylesheet" href="/public/css/index.css">
</head>
<style>
.footer {
	display: block;
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
</style>
<body>
	<header th:insert="/headerNav"></header>
	<div class="container">
		<section class="shopping">
			<div class="heading">
				<h1>
					<span>With Acorn Academy</span>
					SHOPPING
				</h1>
				<p>
					의류 쇼핑몰을 방문해 주셔서 감사합니다.
				</p>
				<p>
					최고의 서비스를 제공하도록 노력하겠습니다.
				</p>
			</div>
			<video src="/medias/shopping.mp4" autoplay muted loop></video>
		</section>

        <section class=d-flex id="category">
	        <div class="knit">
	        	<div class="content img-cover">
		        	<a th:href="@{/product/list/{categoryid}(categoryid=10)}">
		        		Knit
		        	</a>
		        </div>
	        </div>
	         <div class="outer">
	        	<div class="content img-cover">
	        		<a th:href="@{/product/list/{categoryid}(categoryid=20)}">
		        		Outer
		        	</a>
		        </div>
	        </div>
	        <div class="pants">
				<div class="content img-cover">
	        		<a th:href="@{/product/list/{categoryid}(categoryid=30)}">
		        		Pants
		        	</a>
		        </div>
	        </div>
	        <div class="etc">
				<div class="content img-cover">
		        	<a th:href="@{/product/list/{categoryid}(categoryid=40)}">
		        		Etc.
		        	</a>
	        	</div>
	        </div>
        </section>
    </div>
    <footer class="footer" th:insert="/footer"></footer>
    
</body>
</html>