<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<header th:insert="/headerNav"></header>
	<div class="container">
		<section class="shopping">
			<div class="heading">
				<h1>
					<span>With Acorn Academy</span>
					SHOOPING HOME
				</h1>
				<p>
					의류 쇼핑몰을 방문해 주셔서 감사합니다.
				</p>
				<p>
					최고의 서비스를 제공하도록 노력하겠습니다.
				</p>
			</div>
			<video src="/medias/shopping.mp4" autoplay muted loop></video>
		</section>
		<section class="content">
            <div class="inner">
                <div>
                    <h2>의류 상품 종류</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione rerum ad, facilis recusandae doloremque voluptas ducimus deleniti fuga nisi dicta aperiam corrupti repudiandae cupiditate placeat earum dolore non labore natus consequuntur in aspernatur cum? Nostrum ad delectus atque quos illum sapiente earum? Quos deserunt dicta, deleniti accusamus inventore necessitatibus!
                    </p>
                </div>
                <div>
                    <div>
                        <h2>의류 상품 사이즈</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione rerum ad, facilis recusandae doloremque voluptas ducimus deleniti fuga nisi dicta aperiam corrupti repudiandae cupiditate placeat earum dolore non labore natus consequuntur in aspernatur cum? Nostrum ad delectus atque quos illum sapiente earum? Quos deserunt dicta, deleniti accusamus inventore necessitatibus!
                        </p>
                    </div>
                </div>
                <div>
                     <div>
	                 <h2>의류 상품의 평가</h2>
	                     <p>
	                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione rerum ad, facilis recusandae doloremque voluptas ducimus deleniti fuga nisi dicta aperiam corrupti repudiandae cupiditate placeat earum dolore non labore natus consequuntur in aspernatur cum? Nostrum ad delectus atque quos illum sapiente earum? Quos deserunt dicta, deleniti accusamus inventore necessitatibus!
	                     </p>
                     </div>
                </div>
            </div>    
        </section>
	</div>
</body>
</html>