<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<script type="text/javascript" src="/public/js/user/signup.js" defer="defer"></script>
</head>
<body>
	<header th:insert="/headerNav"></header>
	<main class="container m-5" >
		<h1 class="m-3 d-flex justify-content-between align-items-center" >
			<span>회원가입</span>
		</h1>
		<form action="/users/signup.do" name="insertForm" method="post">
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				아이디
				</div>
				<div class="col-auto d-flex justify-content-between">
					<input name="userid" type="text" class="form-control" aria-describedby="idHelp" required>
				</div>
				<div class="col-auto">
				    <span id="idHelp" class="col-auto form-text">
			     	&nbsp; 최소 네글자이상이어야 합니다.
				    </span>
				    <span class="valid-feedback">
			     	&nbsp; 사용 가능한 아이디
				    </span>
				    <span class="invalid-feedback">
			     	&nbsp; 중복된 아이디
				    </span>
				</div>
			</div>
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
					<label for ="inputName" class="col-form-label">이름</label>
				</div>
				<div class="col-auto">
					<input id="inputName" class="form-control" name="username" type="text" required>
				</div>				
			</div>
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
					<label for ="inputPw" class="col-form-label">패스워드</label>
				</div>
				<div class="col-auto">
					<input id="inputPw" class="form-control" name="userpw" type="text" aria-describedby="pwHelp" required>
				</div>	
				<div class="col-auto">
			    <span id="pwHelp" class="form-text">
			      최소 4자리이상이어야 합니다.
			    </span>
			  </div>			
			</div>
			<div class="row mb-3 g-3 align-items-center">
			  <div class="col-auto">
			    <label for="inputPhone" class="col-form-label">Phone</label>
			  </div>
			  <div class="col-auto">
			    <input type="tel" name="phone" id="inputPhone" class="form-control"
			     aria-describedby="phoneHelp" required>
			  </div>
			  <div class="col-auto">
			    <span id="phoneHelp" class="form-text">
			      Must be 000-0000-0000 pattern.
			    </span>
			  </div>
			</div>
			<div class="row mb-3 g-3 align-items-center">
			  <div class="col-auto">
			    <label for="inputEmail" class="col-form-label">Email</label>
			  </div>
			  <div class="col-auto">
			    <input type="email" name="email" id="inputEmail" class="form-control"
			     aria-describedby="emailHelp" required>
			  </div>
			  <div class="col-auto">
			    <span id="emailHelp" class="form-text">
			      Must be id@domain pattern.
			    </span>
			  </div>
			</div>
			<div class="row mb-3 g-3 align-items-center">
			  <div class="col-auto">
			    <label for="inputBirth" class="col-form-label">생일</label>
			  </div>
			  <div class="col-auto">
			    <input type="date" name="birth" id="inputBirth" class="form-control" required>
			  </div>
			</div>
			<div class="row mb-3 g-3 align-items-center">
			  <div class="col-auto">
			    <label for="inputAddress" class="col-form-label">주소</label>
			  </div>
			  <div class="col-auto">
			    <input type="text" size="50" name="address" id="inputAddress" class="form-control" required>
			  </div>
			</div>
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				<button type="reset" class="btn btn-light">초기화</button>
				</div>
				<div class="col-auto">
				<button type="submit" class="btn btn-primary">등록</button>
				</div>
			</div>
		</form>
	</main>
</body>
</html>