@charset "UTF-8";
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
}

.footer {
    bottom: 0;
}

body{
	margin : 10px;
	font-size: 12px;
    color: #888;
    background: #e7e7e7;
}
p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
	color: #303030;
    font-weight: 600;
    padding: 30px 0 32px;
    text-align: center;
}
.innerBox{
	margin-top: 20px;
	width: auto;
    padding: 0 15px;
    border: 1px #e4e4e4 solid;
    overflow-y: auto;
    word-break: keep-all;
}
.title{
	color: #333;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 0 14px 0;
    line-height: 1.4;
}
.txt{
	color : #777;
	font-size: 13px;
	padding: 0 0 14px 0;
	line-height: 1.4;
}
.content{
	position: relative;
    width: 100%;
}
.text{
  color : #777;
  font-size: 13px;
  margin-left: 20px;
}