@charset "UTF-8";
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
}

.footer {
    bottom: 0;
}

main{
	display: flex;
	justify-content: center;
}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
}

.width{
	display:inline-block;
	width:66px;
}