<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 전체 보기</title>
<style type="text/css">

#wrapper {
	height: auto;
  	min-height: 100%;
  	position: relative;
  	float: left;
  
}

#lefe {
	float: left;
}


</style>
</head>
<body>
<header th:insert="/headerNav"></header>

	<h1 class="m-3 d-flex justify-content-between align-items-center">전체</h1>
	<div id="wrapper">
		<div class="container">
			<th:block th:each="product:${productList}">
				<div id="lefe" class="d-flex m-5 justify-content-start" 
					th:onclick="location.href='/product/detail/[[${product.productid}]]'">
					<div id="lefe" class="card" style="width: 18rem;">
					  <img class="card-img-top" alt="상품 이미지">
					  <div id="lefe" class="card-body">
					    <p class="card-text" th:text="${product.productName}"></p>
					    <p class="card-text" th:text="${product.productid}"></p>
					  </div>
					</div>
				</div>
			</th:block>
		</div>
		<div class="d-flex justify-content-center" th:insert="/pagination.html"></div>
		<footer th:insert="/footer"></footer>
	</div>
</body>
</html>