<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 상세 페이지</title>
<style type="text/css">
html, body {
	height: 100%;
	display: flex;
	flex-flow: column;
}
footer {
	flex: 1;
	height: auto;
  	position: relative;
}
#wrapper {	
	height: auto;
  	/* min-height: 100%; */
  	position: relative;
}
</style>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	
	<div class="d-grid">
		<div style="padding: 50px;"></div>
		<div class="d-flex mb-10 justify-content-evenly">
			<a href="/product/update.do" class="btn btn-outline-secondary">상품 수정</a>
		</div>
	</div>
	<div id="wrapper">
		<main class="mt-5 container">
			<section  style="display: table-cell; vertical-align: top;">
			<figure class="figure">
			  <img class="figure-img img-fluid rounded" alt="...">
			  <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
			</figure>
			<div>
				<div class="mb-3">
					Lorem Ipsum is simply dummy text of the printing 
					and typesetting industry. Lorem Ipsum has been the 
					industry's standard dummy text ever since the 1500s,
					 when an unknown printer took a galley of type and 
					 scrambled it to make a type specimen book. It has 
					 survived not only five centuries, but also the leap into electronic 
					 typesetting, remaining essentially unchanged. It was popularised in 
					 the 1960s with the release of Letraset sheets containing Lorem Ipsum 
					 passages, and more recently with desktop publishing software like Aldus 
					 PageMaker including versions of Lorem Ipsum.
					 
				</div>
			</div>
			</section>
			<section style="display: table-cell; vertical-align: top;">
			<div class="side_bar">
				<div class="col-auto mb-3">
					<h4 th:text="${product.productid}" style="text-align: center;"></h4>
				</div>
				<form class="row g-3 justify-content-center" method="post" action="/basket/insert.do">

				  	<div class="col-8 mb-3">
				   	 	<label for="pName" class="form-label mt-3">상품명</label>
				   		<input th:value="${product.productName}" class="form-control form-control-sm" 
				   			id="pName" disabled>
					 </div>
					 <div class="col-8 mb-3">

					 <!--    <label for="pSize" class="form-label mt-3">사이즈(색상)</label>
						    <select class="form-select form-select-sm " aria-label=".form-select-sm example" id="pSize">
						    		<option>-- 선택 --</option>
						    		<option th:each="product : ${products}" th:if="${product.productSize!=null}"
						    			th:text="${product.productSize} +'('+ ${product.productColor} +')'">
						    		</option>
						 	</select>
					</div> -->

					    <label for="pSize" class="form-label mt-3">사이즈</label>
					    
					    <select name="productid" class="form-select form-select-sm " aria-label=".form-select-sm example">
						    <option selected>- size -</option>
						    <th:block th:each="p : ${products}">
							    <option  th:value="${p.productid}" th:text="${p.productSize+' '+p.productColor}"></option>
						    </th:block>
					 	</select> 
					</div>  
   

					<div class="col-8 mb-3">
					    <label for="price" class="form-label mt-3">price</label>
					    <input th:value="${product.price}" class="form-control form-control-sm" id="price" disabled>
	  			    </div>
	  			   	  			   
	  			    <div class="col-8 mb-3">
	  			     <label for="count" class="form-label mt-3">개수</label>
                    <input class="form-control text-center me-3" id="count" name="count" type="number" value="1"
                               style="max-width: 20rem"/>
                    </div>
	  			    
	  			    <section class="justify-content-around">
					  	<div class="col-12 mt-3">
						    <button type="submit" class="btn btn-outline-success">Add Cart</button>
							<button class="btn btn-outline-dark flex-shrink-0" type="submit">
	                        <i class="bi-cart-fill me-1"></i>
	                        장바구니
                        </button> 

					 	</div>
				 	</section>
				 	
				 	
				</form>
			</div>
			</section>
		</main>
	</div>
	
</body>
		<footer th:insert="/footer"></footer>
</html>