<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>검색결과</title>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	<div id="wrapper">
		<div  class="container">
			<h1 class="m-3 d-flex justify-content-between align-items-center" >
				<span>검색 결과</span>
			</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>상품번호</th>
						<th>상품명</th>
						<th>사이즈</th>
						<th>색</th>
						<th>재고량</th>
						<th>상품 등록일</th>
						<th>가격</th>
						<th>상품종류</th>		
					</tr>
				</thead>
				<tbody>
					<tr id="detail" th:each="product : ${list}" th:onclick="location.href='/product/detail/[[${product.productid}]]'">
						<td th:text="${product.productid}"></td>
						<td th:text="${product.productName}"></td>
						<td th:text="${product.productSize}"></td>
						<td th:text="${product.productColor}"></td>
						<td th:text="${product.productStock}"></td>
						<td th:text="${#dates.format(product.productDate,'yyyy-MM-dd')}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.category?.categoryName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-evenly">
				<div  th:insert="/pagination.html"></div>
				<form action="/product/search/1" id="searchForm" method="get">
					<select name="type" class="form-control" style="display: inline; width : 150px;">
						<option value="none">=== 선택 ===</option>
						<option value="N">상품명</option>
						<option value="S">사이즈</option>
						<option value="C">상품분류</option>
					</select>
					<div class=search_input style="display: inline;">
						<input type="text" name="keyword" value="">
						<button class="btn btn-outline-primary">검색</button>
					</div>
				</form>
			</div>
		</div>
		<footer th:insert="/footer"></footer>
	</div>
</body>
</html>