<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>검색결과</title>
<link rel="stylesheet" href="/public/css/product/search.css">
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	<div id="wrapper">
		<div  class="container">
			<h1 class="m-5 d-flex justify-content-between align-items-center" >
				<span>검색 결과</span>
			</h1>
			<p>
				<span style="font-style: italic; font-weight: bold;" th:text=${param.keyword}></span> 검색 결과 수 : 
				<span class="badge text-bg-primary" th:text="${count}"></span>
			</p>
			<form action="/product/search/1" id="searchForm" method="get">
					<select name="type" class="form-control" id="selectSearch">
						<option value="N">상품명</option>
						<option value="S">사이즈</option>
						<option value="C">상품분류</option>
					</select>
					<div class=search_input id="inputSearch">
						<input type="text" name="keyword" onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this);">
						<button class="btn btn-outline-primary">검색</button>
					</div>
				</form>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>상품번호</th>
						<th>상품명</th>
						<th>사이즈</th>
						<th>색</th>
						<th>재고량</th>
						<th>상품 등록일</th>
						<th>가격</th>
						<th>상품종류</th>		
					</tr>
				</thead>
				<tbody>
					<tr id="detail" th:each="product : ${list}" th:onclick="location.href='/product/detail/[[${product.productid}]]'">
						<td th:text="${product.productid}"></td>
						<td th:text="${product.productName}"></td>
						<td th:text="${product.productSize}"></td>
						<td th:text="${product.productColor}"></td>
						<td th:text="${product.productStock}"></td>
						<td th:text="${#dates.format(product.productDate,'yyyy-MM-dd')}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.category?.categoryName}"></td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<th:block th:unless="${list==null}">
					<div  th:insert="/pagination.html"></div>
				</th:block>
			</div>
		</div>
		<footer class="footer" th:insert="/footer"></footer>
	</div>
</body>
<script>
function noSpaceForm(obj) { // 공백사용못하게
    var str_space = /\s/;  // 공백체크
    if(str_space.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 공백을 사용할수 없습니다.\n\n공백은 자동적으로 제거 됩니다.");
        obj.focus();
        obj.value = obj.value.replace(/\s| /gi,''); // 공백제거
        return false;
    }
}
</script>
</html>