<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 수정</title>
<style type="text/css">
.width{
	display:inline-block;
	width:66px;
}
</style>
<script type="text/javascript" src="/public/js/product/insert.js" defer="defer"></script>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
		<h1 class="m-5 d-flex justify-content-center align-items-center" >
			<span>상품 수정</span>
		</h1>
	<main class="d-flex justify-content-center" >
		<form action="/product/update.do" name="updateForm" method="post">
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto labelSize">
					<label for ="inputName" class="col-form-label"><span class="width">상품명 : </span></label>
				</div>
				<div class="col-auto d-flex justify-content-between">
					<input id="inputName" class="form-control" name="productName" type="text" 
					th:value="${product.productName}" required>
				</div>
				<div class="col-auto labelSize">
					<label for ="inputId" class="col-form-label"><span class="width">상품번호 : </span></label>
				</div>
				<div class="col-auto d-flex justify-content-between">
					<input id="inputId" class="form-control" name="productid" type="text" 
					th:value="${product.productid}" readonly>
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputCategory" class="form-label mt-3">카테고리</label>
			    </div>
			    <div>
					<select id="inputCategory" name="categoryId" class="form-select"
						aria-label=".form-select-sm example">
						<option>== 카테고리 ==</option>
						<th:block>
							<option th:value="${product.category?.categoryId}"></option>
							<option value="1">1(상의)</option>
							<option value="2">2(하의)</option>
							<option value="3">3(아우터)</option>
							<option value="4">4(신발)</option>
							<option value="5">5(모자)</option>
						</th:block>	
					</select>
				</div>
			</div>
			
			<!-- productGroup 테이블에서 빼면 그때 지울게요 -->
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputGroup" class="form-label mt-3">분류 (카테고리와 동일하게 체크)</label>
				</div>
			    <div>
				    <select id="inputGroup" name="productGroup" class="form-select " aria-label=".form-select-sm example">
					    <option>== 사이즈 == </option>
					    <th:block th:each="p : ${product}">
						    <option th:value="${p.productGroup}" th:text="${p.productGroup}+'(Selected)'" selected></option>
						    <option value="1">1(상의)</option>
							<option value="2">2(하의)</option>
							<option value="3">3(아우터)</option>
							<option value="4">4(신발)</option>
							<option value="5">5(모자)</option>   
					    </th:block>
				 	</select> 
				</div>
			</div>

			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputSize" class="form-label mt-3">사이즈</label>
				</div>
			    <div>
				    <select id="inputSize" name="productSize" class="form-select " aria-label=".form-select-sm example">
					    <option>== 사이즈 == </option>
					    <th:block th:each="p : ${product}">
						    <option th:value="${p.productSize}" th:text="${p.productSize}+'(Selected)'" selected></option>
						    <option value="S">S</option>
						    <option value="M">M</option>
						    <option value="L">L</option>
						    <option value="XL">XL</option>    
					    </th:block>
				 	</select> 
				</div>
			</div>
<!-- 			
			<div class="row mb-3 g-3 align-items-center" style="display:none;">
				<div>	
					<label for="inputSize" class="form-label mt-3" style="display:none">신발사이즈</label>
				</div>
				<div>
				    <select id="idHelp2" name="productSize" class="form-select" style="display: none;" aria-label=".form-select-sm example">
					    <option>== 사이즈 == </option>
					    <th:block th:each="p : ${product}">
						    <option th:value="${p.productid}" th:text="${p.productSize}+'(Selected)'" selected></option>
						   	<option value="230">230</option>
							<option value="235">235</option>
							<option value="240">240</option>
							<option value="245">245</option>
							<option value="250">250</option>
							<option value="255">255</option>
							<option value="260">260</option>
							<option value="265">265</option>
							<option value="270">270</option>
					    </th:block>
				 	</select> 
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center" style="display:none;">
				<div>	
					<label for="inputSize" class="form-label mt-3"></label>
				</div>
				<div>
					<select id="idHelp3" class="form-control" style="display: none;">
						<option value="none" selected="selected">=== 선택 ===</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
						<option value="60">60</option>
						<option value="61">61</option>
					</select>
				</div>				
			</div> -->
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputColor" class="form-label mt-3">색상</label>
				</div>
			    <div>
				    <select id="inputColor" name="productColor" class="form-select " aria-label=".form-select-sm example">
					    <option> 색상 </option>
					    <th:block th:each="p : ${product}">
						    <option th:value="${p.productColor}" th:text="${p.productColor}+'(Selected)'" selected></option>
						    <option value="White">White</option>
						    <option value="Beige">Beige</option>
						    <option value="Yellow">Yellow</option>
						    <option value="Green">Green</option> 
						    <option value="Skyblue">Skyblue</option>   
						    <option value="Blue">Blue</option>     
						    <option value="Pink">Pink</option>  
						    <option value="Black">Black</option>    
						    <option value="Brown">Brown</option> 
					    </th:block>
				 	</select> 
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputStock" class="form-label mt-3">상품재고</label>
				</div>
			    <div>
				    <input id="inputStock" class="form-control" name="productStock" type="text" 
					th:value="${product.productStock}" required> 
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputStock" class="form-label mt-3">상품가격</label>
				</div>
			    <div>
				    <input id="inputStock" class="form-control" name="price" type="text" 
					th:value="${product.price}" required> 
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
				    <label for="inputInfo" class="form-label mt-3">상품정보</label>
				</div>
			    <div>
				    <input id="inputInfo" class="form-control" name="productInfo" type="text" 
					th:value="${product.productInfo}" required> 
				</div>
			</div>
			
			<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
					<button type="reset" class="btn btn-light">초기화</button>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-success">등록</button>
				</div>
			</div>
		</form>
	</main>
</body>
<footer th:insert="/footer"></footer>
</html>