<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>검색결과</title>
</head>
<body>
	<header th:insert="/gAndB"></header>
	<header th:insert="/headerNav"></header>
	<div id="wrapper">
		<div  class="container">
			<h1 class="m-3 d-flex justify-content-between align-items-center" >
				<span>검색 결과</span>
			</h1>
			<p>
				<span style="font-style: italic; font-weight: bold;" th:text=${param.keyword}></span> 검색 결과 수 : 
				<span class="badge text-bg-primary" th:text="${count}"></span>
			</p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>공지글 번호</th>
						<th>제목</th>
						<th>등록일</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr id="detail" th:each="notice : ${list}" th:onclick="location.href='/notice/detail/[[${notice.notice_no}]]'">
						<td th:text="${notice.notice_no}"></td>
						<td th:text="${notice.title}"></td>
						<td th:text="${#dates.format(notice.post_time,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${notice.views}"></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-evenly">
				<div  th:insert="/pagination.html"></div>
				<form action="/notice/search/1" id="searchForm" method="get">
					<select name="type" class="form-control" style="display: inline; width : 150px;">
						<option value="none">=== 선택 ===</option>
						<option value="T">제목</option>
						<option value="C">내용</option>
					</select>
					<div class=search_input style="display: inline;">
						<input type="text" name="keyword" value="">
						<button class="btn btn-outline-primary">검색</button>
					</div>
				</form>
			</div>
		</div>
		<footer th:insert="/footer"></footer>
	</div>
</body>
</html>