@charset "UTF-8";

#main{
	display: flex;
	justify-content: center;
}

.width{
	display:inline-block;
	width:66px;
}

html, body {
    height: 100%
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;    
}

.footer {
    bottom: 0;
}

h1{
	display: flex;
	justify-content: center;
	align-items: center;
}