@charset "UTF-8";

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
}

.footer {
    bottom: 0;
}
#selectSearch{
	display: inline; 
	width : 150px;
	margin-right: 10px;
}
#inputSearch{
	display: inline;
}
#searchForm{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}
.pagination{
	display: flex;
	justify-content: center;
	margin-top: 20px; 
}