<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>HTTP ERROR 500</title>
    </head>
    <body>
        <div class="cover">
            <h1>Internal server error - <small>Error 500</small></h1>
            <p>
                내부 서버 오류<br />
                요청된 페이지와 관련된 구성 데이터가 잘못되어 해당 페이지에 액세스할 수 없습니다.
            </p>
        </div>
    </body>
</html>
